 /* Work sans font use google font */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
font-family: 'Work Sans', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}

/* Header style */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav > ul{
    display: flex;
    
}
nav li{
    list-style: none; 
}

nav a{
    text-decoration: none;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    color:#424242;
}

.nav-header{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
}

/* banner style */
.banner-content{
     text-align: center;
     max-width: 890px;
     margin: 0px auto;
     margin-top: 100px;
}
.banner-title{
    font-size: 4rem;
}
.banner-description{
    font-size: 1rem;
    line-height: 26px;
    color:#727272;
    margin-top: 30px;
}

.btn{
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    margin: 30px;
} 

.banner-img{
    width: 100%;
}

/* main section style */

main{
    max-width: 1440px;
    margin: 0px auto;
    
}

.teams-container{
    display: flex;
    align-items: center;
}
.teams-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin: 100px 0px;
}
.teams-content{
    margin-left: 70px;
    margin-right: 70px;
    max-width: 530px;
}
.teams-content > .btn{
    margin-left: 0px;
}
.teams-title{
    font-size: 2.8rem;
}
.span-teams-1{
    font-weight: 500;
    color:#727272;
}
.span-teams-2{
    color: #FF900E;
    font-weight: 700;
}

/* facts style */

.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    margin: 100px 0px;
    box-shadow: 1px 1px 5px gray;
    width: 242px;
    height: 242px;
    padding: 10px 10px;
}

.card-description{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}
.card-title{
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card img{
    width: 45px;
    height: 45px;
    margin-top: 50px;
}
#game{
    max-width: 560px;
}

/* sponspors style */

.sponspors{
    text-align: center;
    margin-top: 80px;
}
.sponspors p{
    max-width: 550px;
    margin: 20px auto;

}
.sponspors-img{
    display: flex;
    justify-content: space-evenly;

}
.sponspors-img img{
    width: 153.333px;
    height: 50px;
    margin: 50px 50px;
}

/* features style */

.features-enjoy{
    display: flex;
    margin-top: 100px;
    gap: 100px;
    margin-bottom: 200px;
   align-items: center;
}
.features-title{
    color: #131313;
    font-size: 20px;
   font-weight: 600;

}

.card-features .banner-description{
    margin-top: 0px;
}
.card-features{
    margin-top: 30px;
    border-radius: 8px;
    background: #FFF;
    padding: 30px 40px 30px 40px;
    box-shadow: 1px 1px 5px rgb(228, 226, 226);
}
.features-img{
    width: 708px;
    height: 982px;

}
.features-content > h2{
    max-width:400px;
    margin-top: 0px;
}
.ten-year-badge{
    width: 330px;
    height: 180px; 
    border-radius: 8px;
    background: #FF900E;
    padding: 10px;
    position: relative;
    bottom: 110px;
    right: 70px;
}
.ten-title{
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;
    margin-top:30px;
}
.ten-mini-title{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.features-img img{
    height: 90%;
}

/* footer style */

.footer{
    border-radius: 8px;
    background: #FFF4E7;
    margin: 60px 240px;
    padding: 40px ;
    text-align: center;
}
.footer p{
    color:  #424242;
    font-size: 20px;
    font-weight: 400;
}
/* Responsive style */

@media screen and (max-width: 567px){
    header{
        padding: 20px;
    }
    nav,.features-enjoy{
        flex-direction: column;
    }
   nav ul{
    margin: 20px 0px 0px 50px;
   }
   .banner-title{
    font-size: 2.8rem;
}
.btn{
    padding: 12px 20px;
    font-size: 20px;
} 
.nav-header{
    font-size: 2rem;
}

.teams-container{
    flex-direction: column;
}
.teams-image{
    grid-template-columns: 1fr;
}
.teams-content{
    margin-left: 25px;
    margin-right: 25px;
}
.teams-image img{
    width:420px;
    
}
.facts-card-container{
   flex-direction: column;
}

.card{
    margin: 15px 13%;
    box-shadow: 1px 1px 5px gray;
    width: 70%;
}
.nav-header{
    padding-left: 30px;
}
#game{
    padding-left: 30px;
    margin-bottom: 50px;
}
.sponspors-img{
   flex-direction: column;
   align-items: center;
}
    .sponspors-img img{
        width: 120px;
        height: 50px;
        margin:20px 0px;
    }
    .features-content .banner-description{
        margin: 20px 27px;   
}
.features-card{
    margin: 0px 30px;
}
.features-img img{
    height: 60%;
    margin-left: 143px;
}
.ten-year-badge{
    position: relative;
    width: 40%;
    margin: auto;
}
.ten-title{
    font-size: 40px;
}
.ten-mini-title{
    font-size:25px
}
.features-enjoy{
    margin-bottom: -200px;
}
.footer{
    border-radius: 8px;
    background: #FFF4E7;
    margin: 60px 10px;
    padding: 40px ;
    text-align: center;
}
.footer p{
    color:  #424242;
    font-size: 15px;
    font-weight: 400;
}
}

/* Tablet or medium devices style */
@media screen and (min-width: 567px) and (max-width: 960px){
    nav,.features-enjoy{
        flex-direction: column;
    }
    .nav-header{
        font-size: 2rem;
        font-weight: 700px;
        color: #131313;
    }
    header{
            padding: 20px;
    }
    nav ul{
        margin: 20px 0px 0px 50px;
       }
       .banner-title{
        font-size: 2.9rem;
}
.btn{
    padding: 12px 20px;
    font-size: 20px;
} 
.teams-container{
    flex-direction: column;
}
.teams-image{
    gap: 15px;
}
.teams-image img{
    width:290px;
}
.teams-content{
    margin-left: 0px;
    margin-right: 0px;
}
.facts-card-container{
    flex-direction: column;
 }
 .card{
    margin: 15px 20%;
    box-shadow: 1px 1px 5px gray;
    width: 60%;
}
#game{
    padding-left: 30px;
    margin-bottom: 50px;
}
.facts .nav-header{
 padding-left: 30px;
}
.sponspors-img{
    flex-direction: column;
    align-items: center;
 }
     .sponspors-img img{
         width: 120px;
         height: 50px;
         margin:20px 0px;
     }
     .features-content .banner-description{
        margin: 20px 30px;   
}
.features-card{
    margin: 0px 30px;
}
.features-content .nav-header{
    margin-left: 30px;
}
.features-img img{
    height: 70%;
    margin-left: 110px;
}
.ten-title{
    font-size: 40px;
}
.ten-mini-title{
    font-size:25px
}
.ten-year-badge{
    position: relative;
    width: 40%;
    margin-left:150px;
}
.features-enjoy{
    margin-bottom: -100px;
}
.footer{
    border-radius: 8px;
    background: #FFF4E7;
    margin: 60px 20px;
    padding: 40px ;
    text-align: center;
}
.footer p{
    color:  #424242;
    font-size: 16px;
    font-weight: 400;
}

}